<!-- <div class="modal fade" [id]="getModalId()" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmModalLabel">Confirma operação</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> {{ message }} </p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" (click)="confirm()" data-bs-dismiss="modal">Confirmar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div> -->
<!-- <h2 mat-dialog-title>Dialog Title</h2> -->
<mat-dialog-content>
  {{ data.message }}
  <!-- Dialog content goes here -->
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" color="warn">Confirmar</button>
  <button mat-button mat-dialog-close color="primary">Cancelar</button>
</mat-dialog-actions>
