<div class="p-4">
  <h2>Paciente: {{ medicalRecord.patient.name }}</h2>
  <p>
    <span class="fw-semibold"> Convênio: </span>
    {{ medicalRecord.patient.healthInsurance || "Sem Plano" | titlecase }}
  </p>
  <p>
    <span class="fw-semibold"> Contato de Emergência: </span>
    {{ medicalRecord.patient.emergencyContact }}
  </p>
  <p>
    <span class="fw-semibold"> Alergias: </span>
    {{ medicalRecord.patient.allergyList || "Nenhuma" }}
  </p>
  <p>
    <span class="fw-semibold"> Cuidados Específicos: </span>

    {{ medicalRecord.patient.specificCareList || "Nenhum" }}
  </p>
</div>

<section class="accordion accordion-flush p-4" id="medicalRecordAccordion">
  <div class="accordion-item">
    <h3 class="accordion-header">
      <button
        class="accordion-button fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#appointments"
        aria-expanded="true"
        aria-controls="appointments"
      >
        Consultas
      </button>
    </h3>
    <div id="appointments" class="accordion-collapse collapse show">
      <ul
        *ngIf="medicalRecord.appointments.length > 0; else noAppointments"
        class="accordion-body d-flex flex-column gap-4"
      >
        <li
          class="card bg-white p-3"
          *ngFor="
            let appointment of medicalRecord.appointments | orderByDateTime
          "
        >
          <div class="d-flex justify-content-between">
            <h4 class="card-title d-flex gap-4">
              Motivo: {{ appointment.reason }}
            </h4>
            <a
              class="btn btn-primary px-5 text-light rounded-0 d-flex justify-content-center align-items-center gap-2"
              type="button"
              routerLink="/consultas/{{ appointment.id }}"
            >
              <i class="bi bi-pencil-square"></i>
              <span class="d-none d-sm-block"> Editar</span>
            </a>
          </div>

          <div class="">
            <div class="row">
              <p class="fw-semibold col-md-2">
                Data: {{ appointment.date | date : "dd/MM/yyyy" }}
              </p>
              <p class="fw-semibold col-md-2">Hora: {{ appointment.time }}</p>
            </div>
            <p>
              Descrição do Problema:
              {{ appointment.description }}
            </p>
            <p>
              Medicação Receitada: {{ appointment.medication || "Nenhuma" }}
            </p>
            <p>Dosagem e Precauções: {{ appointment.dosageAndPrecautions }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="accordion-item">
    <h3 class="accordion-header">
      <button
        class="accordion-button fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#exams"
        aria-expanded="true"
        aria-controls="exams"
      >
        Exames
      </button>
    </h3>
    <div id="exams" class="accordion-collapse collapse show">
      <ul
        *ngIf="medicalRecord.exams.length > 0; else noExams"
        class="accordion-body d-flex flex-column gap-4"
      >
        <li
          class="card bg-white p-3"
          *ngFor="let exam of medicalRecord.exams | orderByDateTime"
        >
          <div class="d-flex justify-content-between">
            <h4 class="card-title d-flex gap-4">Nome: {{ exam.name }}</h4>
            <a
              class="btn btn-primary px-5 text-light rounded-0 d-flex justify-content-center align-items-center gap-2"
              type="button"
              routerLink="/exames/{{ exam.id }}"
            >
              <i class="bi bi-pencil-square"></i>
              <span class="d-none d-sm-block"> Editar</span>
            </a>
          </div>

          <div class="">
            <div class="row">
              <p class="fw-semibold col-md-2">
                Data: {{ exam.date | date : "dd/MM/yyyy" }}
              </p>
              <p class="fw-semibold col-md-2">Hora: {{ exam.time }}</p>
            </div>
            <p class="fw-semibold">
              Laboratório:
              {{ exam.laboratory }}
            </p>
            <p class="fw-semibold">
              Anexo:
              <a [href]="exam.url" target="_blank">{{ exam.url }}</a>
            </p>
            <p>Tipo: {{ exam.type }}</p>
            <p>Resultado: {{ exam.results }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="accordion-item">
    <h3 class="accordion-header">
      <button
        class="accordion-button fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#medications"
        aria-expanded="true"
        aria-controls="medications"
      >
        Medicações
      </button>
    </h3>
    <div id="medications" class="accordion-collapse collapse show">
      <ul
        *ngIf="medicalRecord.medications.length > 0; else noMedications"
        class="accordion-body d-flex flex-column gap-4"
      >
        <li
          class="card bg-white p-3"
          *ngFor="let medication of medicalRecord.medications | orderByDateTime"
        >
          <div class="d-flex justify-content-between">
            <h4 class="card-title d-flex gap-4">Nome: {{ medication.name }}</h4>
            <a
              class="btn btn-primary px-5 text-light rounded-0 d-flex justify-content-center align-items-center gap-2"
              type="button"
              routerLink="/medicamentos/{{ medication.id }}"
            >
              <i class="bi bi-pencil-square"></i>
              <span class="d-none d-sm-block"> Editar</span>
            </a>
          </div>

          <div class="">
            <div class="row">
              <p class="fw-semibold col-md-2">
                Data: {{ medication.date | date : "dd/MM/yyyy" }}
              </p>
              <p class="fw-semibold col-md-2">Hora: {{ medication.time }}</p>
            </div>
            <p class="fw-semibold">
              Quantidade:
              {{ medication.quantity }}
            </p>
            <p>Tipo: {{ medication.type }}</p>
            <p>Unidade: {{ medication.unit | titlecase }}</p>
            <p>Observações: {{ medication.observations }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="accordion-item">
    <h3 class="accordion-header">
      <button
        class="accordion-button fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#diets"
        aria-expanded="true"
        aria-controls="diets"
      >
        Dietas
      </button>
    </h3>
    <div id="diets" class="accordion-collapse collapse show">
      <ul
        *ngIf="medicalRecord.diets.length > 0; else noDiets"
        class="accordion-body d-flex flex-column gap-4"
      >
        <li
          class="card bg-white p-3"
          *ngFor="let diet of medicalRecord.diets | orderByDateTime"
        >
          <div class="d-flex justify-content-between">
            <h4 class="card-title d-flex gap-4">Nome: {{ diet.name }}</h4>
            <a
              class="btn btn-primary px-5 text-light rounded-0 d-flex justify-content-center align-items-center gap-2"
              type="button"
              routerLink="/dietas/{{ diet.id }}"
            >
              <i class="bi bi-pencil-square"></i>
              <span class="d-none d-sm-block"> Editar</span>
            </a>
          </div>

          <div class="">
            <div class="row">
              <p class="fw-semibold col-md-2">
                Data: {{ diet.date | date : "dd/MM/yyyy" }}
              </p>
              <p class="fw-semibold col-md-2">Hora: {{ diet.time }}</p>
            </div>
            <p class="fw-semibold">Tipo: {{ diet.type }}</p>
            <p>Descrição: {{ diet.description }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="accordion-item">
    <h3 class="accordion-header">
      <button
        class="accordion-button fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#exercises"
        aria-expanded="true"
        aria-controls="exercises"
      >
        Exercícios
      </button>
    </h3>
    <div id="exercises" class="accordion-collapse collapse show">
      <ul
        *ngIf="medicalRecord.exercises.length > 0; else noExercises"
        class="accordion-body d-flex flex-column gap-4"
      >
        <li
          class="card bg-white p-3"
          *ngFor="let exercise of medicalRecord.exercises | orderByDateTime"
        >
          <div class="d-flex justify-content-between">
            <h4 class="card-title d-flex gap-4">Nome: {{ exercise.name }}</h4>
            <a
              class="btn btn-primary px-5 text-light rounded-0 d-flex justify-content-center align-items-center gap-2"
              type="button"
              routerLink="/exercicios/{{ exercise.id }}"
            >
              <i class="bi bi-pencil-square"></i>
              <span class="d-none d-sm-block"> Editar</span>
            </a>
          </div>

          <div class="">
            <div class="row">
              <p class="fw-semibold col-md-2">
                Data: {{ exercise.date | date : "dd/MM/yyyy" }}
              </p>
              <p class="fw-semibold col-md-2">Hora: {{ exercise.time }}</p>
            </div>
            <p class="fw-semibold">Tipo: {{ exercise.type }}</p>
            <p>Quantidade de por Semana: {{ exercise.amountPerWeek }}</p>
            <p>Descrição: {{ exercise.description }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<ng-template #noAppointments>
  <p class="accordion-body">Nenhuma consulta cadastrada para esse paciente.</p>
</ng-template>
<ng-template #noExams>
  <p class="accordion-body">Nenhum exame cadastrada para esse paciente.</p>
</ng-template>
<ng-template #noMedications>
  <p class="accordion-body">Nenhuma medicação cadastrada para esse paciente.</p>
</ng-template>
<ng-template #noDiets>
  <p class="accordion-body">Nenhuma dieta cadastrada para esse paciente.</p>
</ng-template>
<ng-template #noExercises>
  <p class="accordion-body">Nenhuma dieta cadastrada para esse paciente.</p>
</ng-template>
