<nav
  class="position-sticky top-0 d-flex flex-column align-items-center justify-content-end min-vh-100 bg-primary text-white"
  *ngIf="shouldDisplay()"
>
  <div class="collapse navbar-collapse show" id="menubar" #menubar>
    <div class="p-4">
      <h1>LABMedicine</h1>
    </div>

    <ul class="navbar-nav d-flex flex-column gap-1 w-100 mt-1 px-4">
      <li *ngFor="let item of menuCategories">
        <a
          class="nav-link btn btn-primary text-nowrap d-flex align-items-center gap-2 ps-2 pe-2 py-2 mt-1 nav-item border border-3 rounded-3"
          routerLink="{{ item.route }}"
          [routerLinkActive]="item.route ? 'border-warning ' : ''"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bi" ngClass="bi-{{ item.icon }}"></i>
          {{ item.title | uppercase }}
        </a>
      </li>
    </ul>
    <ul
      *ngIf="isAdmin() || isDoctor()"
      class="navbar-nav d-flex flex-column gap-1 w-100 mt-4 px-4"
    >
      <li class="mt-2"><h4>Menu Médico</h4></li>
      <li *ngFor="let item of doctorMenu">
        <a
          class="nav-link btn btn-primary text-nowrap d-flex align-items-center gap-2 ps-2 pe-2 py-2 mt-1 nav-item border border-3 rounded-3"
          routerLink="{{ item.route }}"
          [routerLinkActive]="item.route ? 'border-warning ' : ''"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bi" ngClass="bi-{{ item.icon }}"></i>
          {{ item.title | uppercase }}
        </a>
      </li>
    </ul>
    <ul
      *ngIf="isAdmin()"
      class="navbar-nav d-flex flex-column gap-1 w-100 mt-4 px-4"
    >
      <li class="mt-2"><h4>Menu Admin</h4></li>
      <li *ngFor="let item of adminMenu">
        <a
          class="nav-link btn btn-primary text-nowrap d-flex align-items-center gap-2 ps-2 pe-2 py-2 mt-1 nav-item border border-3 rounded-3"
          routerLink="{{ item.route }}"
          [routerLinkActive]="item.route ? 'border-warning ' : ''"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bi" ngClass="bi-{{ item.icon }}"></i>
          {{ item.title | uppercase }}
        </a>
      </li>
    </ul>

    <div class="navbar-nav w-100 mt-4 px-4">
      <button
        class="btn btn-primary text-nowrap ps-2 pe-2 py-2 mt-1 border rounded-3"
        data-bs-toggle="modal"
        data-bs-target="#confirmModal"
        (click)="$event.preventDefault()"
      >
        Sair
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-end w-100">
    <button
      type="button"
      class="navbar-toggler mb-2 ml-auto"
      data-bs-toggle="collapse"
      data-bs-target="#menubar"
      aria-controls="menubar"
      aria-expanded="true"
      #toggleButton
    >
      <i class="bi bi-arrow-bar-left fs-2"></i>
    </button>
  </div>
</nav>

<app-confirm-modal [message]="confirmMessage" (confirmed)="logout()" />
