<section class="p-4">
  <h2>Preencha os campos para cadastrar novo usuário</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4 shadow rounded-3">
    <div>
      <label class="form-label fw-bold" for="fullName">Nome Completo*</label>
      <input
        class="form-control"
        [class.is-invalid]="isInvalid('fullName')"
        type="text"
        id="fullName"
        formControlName="fullName"
      />
      <span class="invalid-feedback"
        >Digite um nome válido(Mínimo 8 e máximo 64 caracteres)</span
      >
    </div>
    <div>
      <label class="form-label fw-bold" for="cpf">CPF*</label>
      <input
        placeholder="000.000.000-00"
        class="form-control"
        type="text"
        id="cpf"
        formControlName="cpf"
        [class.is-invalid]="isInvalid('cpf')"
      />
      <span class="invalid-feedback">Insira um cpf válido</span>
    </div>

    <div>
      <label class="form-label fw-bold" for="gender">Gênero*</label>
      <select
        class="form-select"
        id="gender"
        formControlName="gender"
        [class.is-invalid]="isInvalid('gender')"
      >
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
        <option value="other">Outro</option>
      </select>
      <span class="invalid-feedback">Selecione uma opção</span>

      <div>
        <label class="form-label fw-bold" for="phone">Phone*</label>
        <input
          class="form-control"
          type="text"
          id="phone"
          formControlName="phone"
          placeholder="(00) 0 0000-0000"
          [class.is-invalid]="isInvalid('phone')"
        />
        <span class="invalid-feedback">Insira um telefone válido</span>
      </div>
      <div>
        <label class="form-label fw-bold" for="email">E-Mail*</label>
        <input
          class="form-control"
          type="email"
          id="email"
          formControlName="email"
          [class.is-invalid]="isInvalid('email')"
        />
        <span class="invalid-feedback">Insira um email válido</span>
      </div>
      <div>
        <label class="form-label fw-bold" for="password">Senha*</label>
        <input
          class="form-control"
          type="text"
          id="password"
          formControlName="password"
          [class.is-invalid]="isInvalid('password')"
        />
        <span class="invalid-feedback"
          >Insira uma senha com no mínimo 6 caracteres</span
        >
      </div>
      <div>
        <label class="form-label fw-bold" for="type">Tipo*</label>

        <select
          class="form-select"
          id="type"
          formControlName="type"
          [class.is-invalid]="isInvalid('type')"
        >
          <option value="admin">Administrador</option>
          <option value="doctor">Médico</option>
          <option value="nurse">Enfermeiro</option>
        </select>
        <span class="invalid-feedback">Selecione uma opção</span>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <div>
        <button class="btn btn-primary px-5 text-light rounded-0" type="submit">
          Salvar
        </button>
      </div>
    </div>
  </form>
</section>
