mat-card-title {
  margin-bottom: 2rem;
}

.stat-card-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.stat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  width: 10rem;
  padding: 0.5rem;
}

mat-icon {
  font-size: 4rem;
  width: 4rem;
  height: 4rem;
}
