<div class="p-4">
  <section>
    <h2 class="text-center text-md-start">Estatísticas do Sistema</h2>
    <div>
      <ul class="row row-cols-6 g-3 p-0">
        <li
          class="col"
          style="list-style: none"
          *ngFor="let stat of systemStats | keyvalue : keepOrder"
        >
          <div class="card d-flex align-items-center gap-1 p-1 shadow">
            <div
              class="d-flex flex-column flex-md-row gap-1 align-items-center"
            >
              <i class="bi fs-1" ngClass="bi-{{ stat.value.icon }}"></i>
              <span class="fs-1 fw-bold">{{ stat.value.quantity }}</span>
            </div>
            <span class="fw-bold d-none d-md-block">{{
              stat.key | titlecase
            }}</span>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <h2 class="text-center text-md-start">Informações Rápidas de Pacientes</h2>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"
        ><i class="bi bi-search"></i
      ></span>
      <input
        #searchPatientInput
        id="search-patient"
        type="text"
        class="form-control"
        placeholder="Busca por nome, cpf, telefone ou email"
        aria-label="Search Patient"
        aria-describedby="basic-addon1"
        (keyup)="filterPatients(searchPatientInput.value)"
      />
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="filterPatients(searchPatientInput.value)"
      >
        Buscar
      </button>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 pb-4">
      <div class="col" *ngFor="let patient of filteredPatients">
        <div
          class="card d-flex flex-column align-items-center gap-2 p-3 shadow"
        >
          <i class="bi bi-person-circle" style="font-size: 5rem"></i>
          <span class="fs-5 fw-bold">{{ patient.name }}</span>
          <span>{{ patient.birthDate | age }} anos</span>
          <span>{{ patient.email }}</span>
          <span
            class="fw-bold"
            ngClass="{{
              patient.healthInsurance ? 'text-primary' : 'text-warning'
            }}"
            >{{ patient.healthInsurance || "Sem convênio" }}</span
          >
          <a
            class="btn btn-outline-dark"
            routerLink="/pacientes/{{ patient.id }}"
            >Ver mais</a
          >
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="isAdmin()">
    <h2 class="text-center text-md-start">Informações Rápidas de Usuários</h2>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"
        ><i class="bi bi-search"></i
      ></span>
      <input
        #searchUserInput
        id="search-patient"
        type="text"
        class="form-control"
        placeholder="Busca por nome, cpf, telefone ou email"
        aria-label="Search Patient"
        aria-describedby="basic-addon1"
        (keyup)="filterUsers(searchUserInput.value)"
      />
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="filterUsers(searchUserInput.value)"
      >
        Buscar
      </button>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 pb-4">
      <div class="col" *ngFor="let user of filteredUsers">
        <div
          class="card d-flex flex-column align-items-center gap-2 p-3 shadow"
        >
          <i class="bi bi-person-circle" style="font-size: 5rem"></i>
          <span class="fs-5 fw-bold">{{ user.name }}</span>
          <span>{{ user.phone }} </span>
          <span>{{ user.email }}</span>
        </div>
      </div>
    </div>
  </section>
</div>
