<nav
  class="position-absolute z-3 top- pt-1 d-flex flex-column align-items-center min-vh-100 bg-primary text-white"
  [ngClass]="{ 'position-sticky': shouldShowElement }"
  *ngIf="shouldDisplay()"
>
  <div
    class="navbar-collapse collapse-horizontal"
    [ngClass]="{ show: shouldShowElement }"
    id="menubar"
    #menubar
  >
    <div class="px-4">
      <h1>LABMedicine</h1>
    </div>

    <ul class="d-flex flex-column gap-1 w-100 mt-1 px-4">
      <li *ngFor="let item of menuCategories">
        <a
          class="nav-link btn btn-primary text-nowrap d-flex align-items-center gap-2 ps-2 pe-2 py-2 mt-1 nav-item border border-2 rounded-3"
          routerLink="{{ item.route }}"
          [routerLinkActive]="item.route ? 'border-warning ' : ''"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bi" ngClass="bi-{{ item.icon }}"></i>
          {{ item.title }}
        </a>
      </li>
    </ul>
    <ul
      *ngIf="isAdmin() || isDoctor()"
      class="navbar-nav d-flex flex-column gap-1 w-100 mt-4 px-4"
    >
      <li class="mt-2">Menu Médico</li>
      <li *ngFor="let item of doctorMenu">
        <a
          class="nav-link btn btn-primary text-nowrap d-flex align-items-center gap-2 ps-2 pe-2 py-2 mt-1 nav-item border border-2 rounded-3"
          routerLink="{{ item.route }}"
          [routerLinkActive]="item.route ? 'border-warning ' : ''"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bi" ngClass="bi-{{ item.icon }}"></i>
          {{ item.title }}
        </a>
      </li>
    </ul>
    <ul
      *ngIf="isAdmin()"
      class="navbar-nav d-flex flex-column gap-1 w-100 mt-4 px-4"
    >
      <li class="mt-2">Menu Admin</li>
      <li *ngFor="let item of adminMenu">
        <a
          class="nav-link btn btn-primary text-nowrap d-flex align-items-center gap-2 ps-2 pe-2 py-2 mt-1 nav-item border border-2 rounded-3"
          routerLink="{{ item.route }}"
          [routerLinkActive]="item.route ? 'border-warning ' : ''"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bi" ngClass="bi-{{ item.icon }}"></i>
          {{ item.title }}
        </a>
      </li>
    </ul>

    <div class="navbar-nav w-100 mt-4 px-4">
      <button
        class="btn btn-primary text-nowrap ps-2 pe-2 py-2 mt-1 border border-2 rounded-3"
        data-bs-toggle="modal"
        data-bs-target="#confirmLogoutModal"
        (click)="$event.preventDefault()"
      >
        Sair
      </button>
    </div>
  </div>
</nav>

<app-confirm-modal
  [modalId]="'confirmLogoutModal'"
  [message]="confirmMessage"
  (confirmed)="logout()"
/>
