<div
  class="modal modal-fullscreen-sm-down fade"
  id="resetPasswordModal"
  tabindex="-1"
  aria-labelledby="resetPasswordModalLabel"
  aria-hidden="true"
  #resetPasswordModal
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="resetPasswordModalLabel">
          Resetar Senha
        </h1>
        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (submit)="onSubmit()" class="vstack gap-3">
          <div>
            <label class="form-label fw-semibold" for="resetPasswordEmail"
              >E-Mail*</label
            >
            <input
              class="form-control"
              type="email"
              id="resetPasswordEmail"
              formControlName="email"
              placeholder="john@doe.com"
              [class.is-invalid]="isInvalid('email')"
            />
            <span class="invalid-feedback">Digite um email válido.</span>
          </div>
          <div>
            <label class="form-label fw-semibold" for="resetPasswordCurrent"
              >Senha Atual*</label
            >
            <input
              class="form-control"
              type="password"
              id="resetPasswordCurrent"
              formControlName="currentPassword"
              placeholder="Mínimo 6 caracteres"
              [class.is-invalid]="isInvalid('currentPassword')"
            />
            <span class="invalid-feedback"
              >Digite uma senha válida(Mínimo 6 caracteres).</span
            >
          </div>
          <div>
            <label class="form-label fw-semibold" for="resetPasswordNew"
              >Nova Senha*</label
            >
            <input
              class="form-control"
              type="password"
              id="resetPasswordNew"
              formControlName="newPassword"
              placeholder="Mínimo 6 caracteres"
              [class.is-invalid]="isInvalid('newPassword')"
            />
            <span class="invalid-feedback"
              >Digite uma senha válida(Mínimo 6 caracteres).</span
            >
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-hover text-light fw-semibold align-self-end"
          >
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
